body {
  font-family: "Ubuntu", sans-serif;
  background-color:#E5E5E5;
  font-style: normal;
  color: #000;
}

.header-artigos {
  margin-bottom: 0;
}

#blog {
  padding: 100px 200px;
  display: flex;
  align-items: center;
}

#intro-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 510px;
  height: 380px;
}

#blog img {
  width: 480px;
  margin-left: 75px;
}

#intro-blog h1 {
  color: #009688;
  font-size: 47px;
  font-weight: 700;
}

#intro-blog p {
  color: #000807;

  width: 420px;
  height: 186;
}

/*Artigos*/
.artigos {
  background-color: #E5E5E5;
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

.artigo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 80px;
  text-align: justify;
}

.artigo img {
  width: 500px;
  padding-bottom: 20px;
}

.artigo h3 {
  color: #FF4081;

  font-size: 30px;

  padding-bottom: 20px;
}

.artigo p {
  width: 500px;
  height: 80px;
  color:#000807;
  margin-bottom: 100px;
}


@media only screen and (max-width:480px) {
  #blog {
      padding: 20px;
      flex-direction: column;
      margin: 0 auto;
  }

  #intro-blog {
      width: 280px;


      align-items: center;

      text-align: center;
  }

  #intro-blog p {
      width: 100%;
  }

  #blog img {
      width: 280px;
      margin: 0 auto;
  }


  .artigos {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .artigo {
      padding: 0;

      width: 280px;
      padding-bottom: 50px;

      border-bottom: 2px solid #c4c4c4;
  }

  .artigo img {
      width: 280px;
      padding-top: 30px;
  }

  .artigo p {
      width: 100%;
      font-size: 0.8rem;
      margin: 0;
  }


}



@media only screen and (min-width:481px) and (max-width:1024px) {

  #blog {
      width: 100%;
      padding: 20px;
      flex-direction: column;
      margin: 0 auto;
  }

  #intro-blog {
      width: 90%;


      align-items: center;

      text-align: center;
  }

  #intro-blog p {
      width: 100%;
  }

  #blog img {
      width: 40%;
      margin: 0 auto;
  }


  .artigos {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .artigo {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 50px;
      align-items: center;

      border-bottom: 2px solid #c4c4c4;
  }

  .artigo h1 {
      text-align: center;
  }

  .artigo img {
      width: 80%;
      padding-top: 30px;
  }

  .artigo p {
      width: 80%;
      font-size: 0.9rem;
      margin: 0;
  }

}

@media only screen and (min-width:1024px) and (max-width:1280px) {
  #blog {
      width: 100%;
      padding: 20px;
      margin: 0 auto;
  }

  #intro-blog {
      width: 90%;
      align-items: center;
  }

  #intro-blog h1 {
      width: 50%;
  }

  #intro-blog p {
      width: 60%;
  }

  #blog img {
      width: 40%;
      margin: 0 auto;
  }

  .artigos {
      padding: 40px 0px;
      max-width: 1280px
  }

  .artigos a {

      max-width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
  }

  .artigo {
      padding: 0px 40px;
  }

  .artigo img,
  .artigo p,
  .artigo h3 {
      width: 100%;
  }
}