* {
  padding: 0;
  margin: 0;
}

.header-container {
    background-color: #2e948a;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    margin-bottom: 10rem;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #fdfdfd;
  }
  
  .logo-cabecalho {
    display: flex;
    color: #ffffff;
    align-items: flex-end;
    padding-left: 5.69vw;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
  }
  
  .logo-cabecalho img {
    padding-right: 11px;
  }
  
  
  nav {
    padding-right: 6vw;
  }
  
  nav ul {
    display: flex;
    padding: 37px 0;
  }
  
  nav a {
    padding: 10px 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0);
    border-radius: 30px;
    transition: border-color 300ms ease, color 300ms ease;
  }
  
  /*RESPONSIVIDADE*/

  @media only screen and (max-width: 480px){

    header section {
      width: 100vw;
    }

    .logo-cabecalho img {
      padding-top: 0px;
      padding-right: 0.76vw;
      max-width:300px;
    }
    
    .header-container {
      width: 100vw;
      height: auto;
      padding: 100;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-around;
    }
    
    nav a {
      padding: 22px 1vw;
      padding-top: 0px;
      align-items: center;
    }
  
    nav ul {
      padding: 22px 0;
      padding-top: 0px;
      align-items: center;
    }

    nav li {
      padding-top: 0px;
      display: flex;
      flex-direction: row;
     justify-content: center;
      }
}

 
  
  