body {
  font-family: "Ubuntu", sans-serif;
  background-color:#E5E5E5;
  font-style: normal;
  color: #000;
}

.header-artigos {
  margin-bottom: 0;
}

#curso1-independencia {
  padding: 100px 200px;
  display: flex;
  align-items: center;
}

#curso-independencias{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 510px;
  height: 380px;
}

main {
  padding: 80px;
}

h1 {
  color:#FF4081;
  font-size: 60px;
  position: absolute;
width: 263px;
height: 69px;
left: 82px;
top: 198px;
}

span {
  color: #555555;
  font-size: 20px;
  position: absolute;
  width: 317px;
  height: 23px;
  left: 82px;
  top: 267px;
}

#curso-1,
#curso-2,
#curso-3 {
  display: flex;
  align-items: center;

  border-bottom: 5px solid #C4C4C4;
  width: 100%;
}

#curso-3 {
  border-bottom: none;
}

.cursos-img {
  width: 380px;
  margin-right: 50px;
}

.cursos-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 380px;
}

.cursos-texto p {
  width: 720px;
  height: 105px;

  color: #000;
}

.cursos-texto h3 {
  color: #FF4081;

  font-size: 35px;
}

.cursos-texto button {
  background-color: #419488;
  border-style: none;
  border-radius: 62px;
  padding: 12px 25px;

  color: #FFF;
  font-size: 20px;

  margin-top: 20px;
}


@media only screen and (max-width:480px) {
  main {
      width: 300px;
      padding: 10px;
      margin: 0 auto;


      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
  }

  h1 {
      padding: 20px;
  }

  span {
      width: 70%;
      padding-bottom: 80px;
      border-bottom: 5px solid #c4c4c4;
  }

  .curso-1,
  .curso-2,
  .curso-3 {
      width: 100%;
      flex-direction: column;
  }

  .cursos-img {
      display: none;
  }

  .cursos-texto {
      width: 100%;
      height: 500px;
  }

  .cursos-texto h3 {
      font-size: 2rem;
  }

  .cursos-texto p {
      width: 100%;
  }
}


@media only screen and (min-width:481px) and (max-width:1024px) {
  main {
      width: 100%;
      padding: 10px;
      margin: 0 auto;


      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
  }

  h1 {
      padding: 20px;

  }

  span {
      width: 70%;
      padding-bottom: 40px;
      border-bottom: 2px solid #c4c4c4;
  }

  #curso-1,
  #curso-2,
  #curso-3 {
      flex-direction: column;
  }

  .cursos-img {
      display: none;
  }

  .cursos-texto {
      width: 90%;
      margin: 0 auto;
      height: 500px;
  }

  .cursos-texto h3 {
      margin: 0 auto;
      font-size: 2rem;
  }

  .cursos-texto p {
      width: 100%;
  }
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
  main {
      width: 100%;
      padding: 20px;
      margin: 0 auto;


      display: flex;
      flex-direction: column;
  }


  h1 {
      padding: 20px;

  }

  span {
      width: 100%;
      padding-bottom: 40px;
      padding-left: 20px;
      border-bottom: 2px solid #c4c4c4;
  }

  #curso-1,
  #curso-2,
  #curso-3 {
      padding: 30px;
  }


  .cursos-texto {
      width: 90%;
      margin: 0 auto;
      height: 500px;
  }

  .cursos-texto h3 {
      margin: 0 auto;
      font-size: 2rem;
  }

  .cursos-texto p {
      width: 100%;
  }
}