*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Ubuntu";
}

.header-article {
  margin-bottom: 0;
}

.div1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 8rem 14.3vw 4rem 14.3vw;
}

.intro-texto {
  width: 34vw;
}

.introducao h1 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #ff4081;
}

.texto2 h5 {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 31px;
  padding: 40px 0;
}

.button button {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  width: 65%;
  height: 51px;
  border: 2px solid #ff4081;
  border-radius: 62px;
  color: #ff4081;
  cursor: pointer;
  background-color: #fff;
  
}

.intro img {
  width: 35vw;
  height: auto;
  max-width: 501px;
}

.chamada-cursos {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 49px 0rem 119px 0rem;
  background-color: #f6f6f6;
  flex-wrap: wrap;
}

.chamada-cursos div {
  display: flex;
  flex-direction: column;
  width: 344px;
  align-items: center;
  padding-top: 60px;
}

.chamada-cursos img {
  height: auto;
  margin-bottom: 45px;
}

.chamada-cursos h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ff4081;
  margin-bottom: 23px;
}

.chamada-cursos p {
  font-size: 18px;
  font-weight: 300;
  width: 19rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
}

.chamada-cursos a {
  display: flex;
  width: 100%;
  justify-content: center;
}

.chamada-cursos button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: #ff4081;
  border-radius: 62px;
  border: none;
  width: 68%;
  height: 51px;
  cursor: pointer;
}

    /* TESTEMUNHOS */

    #falam {
        font-family: 'Nunito';
        font-size: 37px;
        font-weight: 700;
        color: #009688;
    }
    
    .depoimentos div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .depoimentos .dep {
        display: flex;
        margin: 2rem 0rem 2rem 0rem;
        /* width: 600px; */
    }
    
    .depoimentos .dep-ind {
        font-size: 18px;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        width: 340px;
        height: 95px;
        margin-left: 1rem;
        text-align: left;
    }
    
    .depoimentos #name {
        margin-top: 10px;
        font-weight: 400;
    }
    
    .depoimentos {
        padding: 0rem 10rem 0rem 10rem;
    }
    
    .depoimentos img {
        padding: 5px;
        margin: 5px;
        border: solid #FF4081;
        border-radius: 80px;
    }

      
    /* Bonus */

    .bonus__title {
        font-size: 3.2rem;
    }

    .bonus__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1440px;
        margin: 0 auto;
    }

    .bonus__item {
        width: 25%;
    }

    .bonus__item-image {
        width: 100%;
    }

    /* Footer */


    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1440px;
        margin: 0 auto;
    }

    .footer__text {
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 2rem;

    }

    .footer__text span a {
        text-decoration: none;
        color: #FFF;
    }

    .footer__text span a:hover {
        color: #b8e4df;
    }

    .footer__cta {
        display: flex;
        flex-direction: column;
    }

    .footer__cta-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;    
        font-size: 1.8rem;
        font-weight: 400;
        Width: 26rem;
        Height: 4rem;
        border: 2px solid #ffffff;
        border-radius: 6rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .footer__cta-button:hover {
        background-color: #257970;
        transition: 200ms;
    }